.wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  align-content: center;
}

.form-horizontal {
  width: 250px;
}

.html_button {
  width: 60px;
  height: 60px;
  margin: 10px;
}

.display {
  display: flex;
  width: 90%;
  margin: 0 auto;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  width: calc((100% / 4) - 2%);
  border-style: dashed;
}

.card + .card {
  margin-left: 2%;
}

.card:nth-of-type(4n+1) {
  margin-left: 0;
}

.card:nth-of-type(n+5) {
  margin-top: 2%;
}